<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://diplomvitkos.site">
<html xmlns="http://diplomvitkos.site">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Heartlys - Place Your Company Name Here</title>
<link href="css/stylesheet.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="top_bar_black"> <div id="logo_container"> <div id="logo_image"> </div>  <div id="nav_block"> <div class="nav_button">Home </a></div>
	  <div class="nav_button"> Contact</div>
		<div class="nav_button"> About</div>
		<div class="nav_button"> Links</div>
		<div class="nav_button"> Services </div>
	  </div>
</div> </div>
        <div id="content_container">
       	  <div id="header"> <div class="header_content_mainline">DevOps Prayer </div> <div id="header_content_tagline">Lead me from the unreal to the real. From Darkness to Light. From death to immortality.   </div>
          
          
</div>
           
                 <div id="header_lower">  <div id="header_content_boxline">About DevOps <div id="header_content_boxcontent">DevOps is the combination of cultural philosophies, practices, and tools that increases an organization's ability to deliver applications and services at high velocity: evolving and improving products at a faster pace than organizations using traditional software development and infrastructure management processes.
 </div></div> 
          </div><div id="header_lower">  
            <div id="header_content_boxline">The Twelve Factors</div> 
          <div id="header_content_boxcontent">I. Codebase
One codebase tracked in revision control, many deploys
II. Dependencies
Explicitly declare and isolate dependencies
III. Config
Store config in the environment
IV. Backing services
Treat backing services as attached resources
V. Build, release, run
Strictly separate build and run stages
VI. Processes
Execute the app as one or more stateless processes
VII. Port binding
Export services via port binding
VIII. Concurrency
Scale out via the process model
IX. Disposability
Maximize robustness with fast startup and graceful shutdown
X. Dev/prod parity
Keep development, staging, and production as similar as possible
XI. Logs
Treat logs as event streams
XII. Admin processes
Run admin/management tasks as one-off processes.</div>
          
          </div>     
        </div>
        
        
        
<div id="bottom_bar_black"> <div id="main_container">
	<div id="header_lower">  <div id="header_content_lowerline">Contact
	    <div id="header_content_lowerboxcontent">inside subnet<br />
	      net<br />
	      Deos<br />
        @NicStep <BR />
        info@diplomvitkos.site<br />
        www.diplomvitkos.site<br />
        @<BR /> 
        </div>
	</div> 
          </div>
          
          <div id="header_lower">  <div id="header_content_lowerline">Introduction
            <div id="header_content_lowerboxcontent">In the modern era, software is commonly delivered as a service: called web apps, or software-as-a-service. The twelve-factor app is a methodology for building software-as-a-service apps that:
    Use declarative formats for setup automation, to minimize time and cost for new developers joining the project;
    Have a clean contract with the underlying operating system, offering maximum portability between execution environments;
    Are suitable for deployment on modern cloud platforms, obviating the need for servers and systems administration;
    Minimize divergence between development and production, enabling continuous deployment for maximum agility;
 </div>
	</div> 
          </div>


</div> 
</div>
 <div id="copywriteblock"> Designed by <a href="http://www.diplomvitkos.site/">www.diplomvitkos.site </a></div>

</body>
</html>
